@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  overflow: overlay; /* Cho các trình duyệt hỗ trợ */
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của Scrollbar */
  height: 8px; /* Chiều cao của Scrollbar ngang */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Màu của thanh Scrollbar */
  border-radius: 10px; /* Góc bo của thanh */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của track */
}

/* Đảm bảo phần tử cuộn không làm thay đổi bố cục */
.custom-scroll-container {
  scrollbar-gutter: stable; /* Đảm bảo thanh cuộn không làm thay đổi bố cục */
  overflow-y: auto; /* Hiển thị thanh cuộn khi cần thiết */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang nếu có */
}
